html,
body {
  height: 100%;
}

html {
  font-size: 16px;
}

body {
  background: #e5e5e5;
  font: 200 1rem/1.2 'Roboto', sans-serif;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  outline: none;
}

input {
  border: none;
  box-sizing: border-box;
  outline: 0;
  background: transparent;
}
